USE [master]
GO
/****** Object:  Database [Sereni]    Script Date: 10/6/2024 12:25:44 PM ******/
CREATE DATABASE [Sereni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sereni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sereni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sereni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sereni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sereni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sereni]
GO
/****** Object:  Table [dbo].[CandleCategories]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandleCategories](
	[CandleCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CandleID] [int] NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandleCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candles]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candles](
	[CandleID] [int] IDENTITY(1,1) NOT NULL,
	[CandleName] [varchar](255) NULL,
	[Description] [text] NULL,
	[Price] [decimal](10, 2) NULL,
	[BaseColor] [varchar](50) NULL,
	[Size] [varchar](50) NULL,
	[Fragrance] [varchar](50) NULL,
	[StockQuantity] [int] NULL,
	[OriginalPrice] [decimal](10, 2) NULL,
	[SalePrice] [decimal](10, 2) NULL,
	[ImageUrl] [varchar](255) NULL,
	[HoverImageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CandleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Discount] [decimal](10, 2) NULL,
	[ExpiryDate] [date] NULL,
	[UsageLimit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customizations]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customizations](
	[CustomizationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CandleID] [int] NULL,
	[CustomColor] [varchar](50) NULL,
	[CustomText] [text] NULL,
	[CustomImage] [varchar](255) NULL,
	[CustomSticker] [varchar](255) NULL,
	[PreviewImage] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CandleID] [int] NULL,
	[CustomizationID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [varchar](20) NULL,
	[AmountPaid] [decimal](10, 2) NULL,
	[PaymentStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CandleID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [text] NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ShippingAddress] [text] NULL,
	[ShippingMethod] [varchar](50) NULL,
	[ShippingCost] [decimal](10, 2) NULL,
	[TrackingNumber] [varchar](50) NULL,
	[ShippedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CandleID] [int] NULL,
	[CustomizationID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Address] [text] NULL,
	[Role] [varchar](20) NULL,
	[AvatarUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 10/6/2024 12:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CandleID] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CandleCategories] ON 

INSERT [dbo].[CandleCategories] ([CandleCategoryID], [CandleID], [CategoryID]) VALUES (1, 1, 1)
INSERT [dbo].[CandleCategories] ([CandleCategoryID], [CandleID], [CategoryID]) VALUES (2, 2, 1)
INSERT [dbo].[CandleCategories] ([CandleCategoryID], [CandleID], [CategoryID]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[CandleCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Candles] ON 

INSERT [dbo].[Candles] ([CandleID], [CandleName], [Description], [Price], [BaseColor], [Size], [Fragrance], [StockQuantity], [OriginalPrice], [SalePrice], [ImageUrl], [HoverImageUrl]) VALUES (1, N'Lavender Candle', N'A soothing lavender scented candle.', CAST(15.00 AS Decimal(10, 2)), N'Purple', N'Medium', N'Lavender', 100, CAST(20.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), N'https://example.com/lavender.jpg', N'https://example.com/lavender_hover.jpg')
INSERT [dbo].[Candles] ([CandleID], [CandleName], [Description], [Price], [BaseColor], [Size], [Fragrance], [StockQuantity], [OriginalPrice], [SalePrice], [ImageUrl], [HoverImageUrl]) VALUES (2, N'Vanilla Candle', N'A sweet vanilla scented candle.', CAST(12.00 AS Decimal(10, 2)), N'Cream', N'Small', N'Vanilla', 150, CAST(18.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), N'https://example.com/vanilla.jpg', N'https://example.com/vanilla_hover.jpg')
SET IDENTITY_INSERT [dbo].[Candles] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Scented Candles', N'Candles that have a pleasant fragrance.')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Decorative Candles', N'Candles that serve as decorations.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [Code], [Discount], [ExpiryDate], [UsageLimit]) VALUES (1, N'DISCOUNT10', CAST(10.00 AS Decimal(10, 2)), CAST(N'2024-12-31' AS Date), 100)
INSERT [dbo].[Coupons] ([CouponID], [Code], [Discount], [ExpiryDate], [UsageLimit]) VALUES (2, N'SUMMER20', CAST(20.00 AS Decimal(10, 2)), CAST(N'2024-06-30' AS Date), 50)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Customizations] ON 

INSERT [dbo].[Customizations] ([CustomizationID], [UserID], [CandleID], [CustomColor], [CustomText], [CustomImage], [CustomSticker], [PreviewImage]) VALUES (1, 1, 1, N'Pink', N'Happy Birthday!', N'https://example.com/custom_image1.jpg', N'https://example.com/sticker1.png', N'https://example.com/preview1.jpg')
INSERT [dbo].[Customizations] ([CustomizationID], [UserID], [CandleID], [CustomColor], [CustomText], [CustomImage], [CustomSticker], [PreviewImage]) VALUES (2, 2, 2, N'Blue', N'Congratulations!', N'https://example.com/custom_image2.jpg', N'https://example.com/sticker2.png', N'https://example.com/preview2.jpg')
SET IDENTITY_INSERT [dbo].[Customizations] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CandleID], [CustomizationID], [Quantity], [Price]) VALUES (1, 1, 1, 1, 2, CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CandleID], [CustomizationID], [Quantity], [Price]) VALUES (2, 2, 2, NULL, 1, CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status]) VALUES (1, 1, CAST(N'2024-10-06T12:23:52.760' AS DateTime), CAST(45.00 AS Decimal(10, 2)), N'pending')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status]) VALUES (2, 2, CAST(N'2024-10-06T12:23:52.760' AS DateTime), CAST(24.00 AS Decimal(10, 2)), N'shipped')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [AmountPaid], [PaymentStatus]) VALUES (1, 1, CAST(N'2024-10-06T12:23:52.760' AS DateTime), N'credit_card', CAST(45.00 AS Decimal(10, 2)), N'completed')
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [AmountPaid], [PaymentStatus]) VALUES (2, 2, CAST(N'2024-10-06T12:23:52.760' AS DateTime), N'paypal', CAST(24.00 AS Decimal(10, 2)), N'completed')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [UserID], [CandleID], [Rating], [Comment], [ReviewDate]) VALUES (1, 1, 1, 5, N'This candle smells amazing!', CAST(N'2024-10-06T12:23:52.760' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [CandleID], [Rating], [Comment], [ReviewDate]) VALUES (2, 2, 2, 4, N'Nice fragrance but a bit pricey.', CAST(N'2024-10-06T12:23:52.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([ShippingID], [OrderID], [ShippingAddress], [ShippingMethod], [ShippingCost], [TrackingNumber], [ShippedDate]) VALUES (1, 1, N'123 Tran Hung Dao, Hanoi', N'Express', CAST(5.00 AS Decimal(10, 2)), N'TRACK123', CAST(N'2024-10-06T12:23:52.760' AS DateTime))
INSERT [dbo].[Shipping] ([ShippingID], [OrderID], [ShippingAddress], [ShippingMethod], [ShippingCost], [TrackingNumber], [ShippedDate]) VALUES (2, 2, N'456 Le Loi, Ho Chi Minh City', N'Standard', CAST(2.00 AS Decimal(10, 2)), N'TRACK456', CAST(N'2024-10-06T12:23:52.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 

INSERT [dbo].[ShoppingCart] ([CartID], [UserID], [CandleID], [CustomizationID], [Quantity]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[ShoppingCart] ([CartID], [UserID], [CandleID], [CustomizationID], [Quantity]) VALUES (2, 2, 2, NULL, 2)
SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [PhoneNumber], [Address], [Role], [AvatarUrl]) VALUES (1, N'Nguyen Van A', N'nguyenvana@example.com', N'password123', N'0123456789', N'123 Tran Hung Dao, Hanoi', N'customer', N'https://example.com/avatar1.jpg')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [PhoneNumber], [Address], [Role], [AvatarUrl]) VALUES (2, N'Nguyen Van B', N'nguyenvanb@example.com', N'password456', N'0987654321', N'456 Le Loi, Ho Chi Minh City', N'admin', N'https://example.com/avatar2.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [CandleID], [AddedDate]) VALUES (1, 1, 1, CAST(N'2024-10-06T12:23:52.763' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [CandleID], [AddedDate]) VALUES (2, 2, 2, CAST(N'2024-10-06T12:23:52.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA77999A30D]    Script Date: 10/6/2024 12:25:44 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053461697851]    Script Date: 10/6/2024 12:25:44 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Shipping] ADD  DEFAULT (getdate()) FOR [ShippedDate]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[CandleCategories]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[CandleCategories]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Customizations]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[Customizations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([CustomizationID])
REFERENCES [dbo].[Customizations] ([CustomizationID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([CustomizationID])
REFERENCES [dbo].[Customizations] ([CustomizationID])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([CandleID])
REFERENCES [dbo].[Candles] ([CandleID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='delivered' OR [Status]='shipped' OR [Status]='processing' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='bank_transfer' OR [PaymentMethod]='paypal' OR [PaymentMethod]='credit_card'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentStatus]='failed' OR [PaymentStatus]='completed' OR [PaymentStatus]='pending'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='admin' OR [Role]='customer'))
GO
USE [master]
GO
