<div id="about-us" class="container">
        <h2>Vì sao lựa chọn chúng tôi</h2>
        <div class="content">
            <div class="features">
                <div class="feature">
                    <img src="~/images/aboutus/icon1.png" alt="Lưu hương thơm trong phòng">
                    <h3>Lưu hương thơm trong phòng</h3>
                    <p>Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
                <div class="feature">
                    <img src="~/images/aboutus/icon2.png" alt="Thân thiện với môi trường">
                    <h3>Thân thiện với môi trường</h3>
                    <p>Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>

            <!-- Candle image in the center -->
            <div class="candle-image">
                <img src="~/images/aboutus/centerimage.png" alt="Candle">
            </div>

            <div class="features">
                <div class="feature">
                    <img src="~/images/aboutus/icon3.png" alt="Mùi hương dễ chịu">
                    <h3>Mùi hương dễ chịu</h3>
                    <p>Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
                <div class="feature">
                    <img src="~/images/aboutus/icon4.png" alt="100% Organic">
                    <h3>100% Organic</h3>
                    <p>Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
        </div>
    </div>
