<div class="banner_area mb-66">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="#">
                            <img src="images/banner/banner1.png" alt="">
                        </a>
                        <div class="banner_content">
                            <h3>Sale up to</h3>
                            <h2>50%</h2>
                            <p>Scented Candles</p>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="#">
                            <img src="images/banner/banner2.png" alt="">
                        </a>
                        <div class="banner_content">
                            <h3>Sale up to</h3>
                            <h2>70%</h2>
                            <p>Scented Candles</p>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="#">
                            <img src="images/banner/banner3.png" alt="">
                        </a>
                        <div class="banner_content">
                            <h3>Sale up to</h3>
                            <h2>30%</h2>
                            <p>Scented Candles</p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
