<section class="blog_section blog_two color_two mb-65" id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>From Our Blog</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel">
                <div class="col-lg-3">
                    <div class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="images/blog/blog1.jpg" alt="">
                                </a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title">
                                    <a href="#">
                                        Flavours of Candles
                                    </a>
                                </h4>
                                <p class="post_desc">
                                    Scented candles not only provide a pleasant fragrance but also create an exceptional relaxing atmosphere. With an elegant design and a variety of scents, scented candles are the perfect choice for any home. Whether you're seeking peace, relaxation, or a romantic ambiance, our scented candles will meet all your needs. Let the fragrance of our candles take you to unforgettable and soothing moments.
                                </p>
                                <footer class="btn_more">
                                    <a href="#">Read More...</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="images/blog/blog2.jpg" alt="">
                                </a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title">
                                    <a href="#">
                                        Divine Scented Candles
                                    </a>
                                </h4>
                                <p class="post_desc">
                                    Scented candles not only create a pleasant fragrance but also bring a relaxing feeling to your living space. They are made from natural ingredients and come in a variety of scents to choose from. These candles are the perfect choice for any occasion, from daily relaxation to special celebrations. Let the light and fragrance of the candles create unforgettable moments.
                                </p>
                                <footer class="btn_more">
                                    <a href="#">Read More...</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="images/blog/blog3.jpg" alt="">
                                </a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title">
                                    <a href="#">
                                        Collection of Scented Candles
                                    </a>
                                </h4>
                                <p class="post_desc">
                                    Our collection of scented candles adds a delightful fragrance to any room, creating a relaxing and comfortable atmosphere. Crafted from natural wax and infused with high-quality scents, these candles are designed to enhance your living space. With elegant styles that fit various decor themes, they are perfect for use in bedrooms, living rooms, or any area you want to freshen up. Light our exquisite scented candles to transform your home into a sanctuary of relaxation and tranquility.
                                </p>
                                <footer class="btn_more">
                                    <a href="#">Read More...</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="images/blog/blog4.jpg" alt="">
                                </a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title">
                                    <a href="#">
                                        Best Scented Candles for Parties
                                    </a>
                                </h4>
                                <p class="post_desc">
                                    Scented candles create a warm and inviting atmosphere for any party. With a variety of fragrances to choose from, they can enhance the mood and make your gatherings memorable. These candles are made from high-quality natural wax and come in elegant designs that fit any décor. Let the enchanting scents of our candles elevate your celebration and provide a delightful sensory experience for your guests.
                                </p>
                                <footer class="btn_more">
                                    <a href="#">Read More...</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
