<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_title">
                <h2>GIFT BOX</h2>
                <div class="product_tab_btn">
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="Men" role="tabpanel">
            <div class="row">
                <div class="product_carousel product_column4 owl-carousel">
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a href="#" class="primary_img">
                                        <img src="images/gift/gift1-1.png" alt="">
                                    </a>
                                </div>
                                <figcaption class="gift_content">
                                    <h4 class="product_name">
                                        <a href="#">Handmade Gift Box</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="current_price">99,000 VND</span>
                                    </div>
                                </figcaption>

                            </figure>

                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a href="#" class="primary_img">
                                        <img src="images/gift/gift1-2.png" alt="">
                                    </a>
                                </div>
                                <figcaption class="gift_content">
                                    <h4 class="product_name">
                                        <a href="#">Handmade Gift Box</a>
                                    </h4>

                                    <div class="price_box">
                                        <span class="current_price">89,000 VND</span>
                                    </div>
                                </figcaption>
                            </figure>

                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a href="#" class="primary_img">
                                        <img src="images/gift/gift3-1.png" alt="">
                                    </a>
                                </div>
                                <figcaption class="gift_content">
                                    <h4 class="product_name">
                                        <a href="#">Handmade Gift Box</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="current_price">119,000 VND</span>
                                    </div>
                                </figcaption>
                            </figure>

                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a href="#" class="primary_img">
                                        <img src="images/gift/gift4-1.png" alt="">
                                    </a>
                                </div>
                                <figcaption class="gift_content">
                                    <h4 class="product_name">
                                        <a href="#">Handmade Gift Box</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="current_price">129,000 VND</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
