<div class="product_area product_area_two mb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title" id="new-products">
                    <h2>New Products</h2>
                    <div class="product_tab_btn">
                        <ul class="nav" role="tablist">
                            <li>
                                <a href="#jar" class="active" data-toggle="tab" role="tab" aria-controls="Jar"
                                   aria-selected="true">
                                    Scented Jar Candle
                                </a>
                            </li>
                            <li>
                                <a href="#shell" data-toggle="tab" role="tab" aria-controls="Shell"
                                   aria-selected="false">
                                    Scented Shell Candle
                                </a>
                            </li>
                            <li>
                                <a href="#custom" data-toggle="tab" role="tab" aria-controls="Custom"
                                   aria-selected="false">
                                    Custom Scented Candle
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Men" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/jar/product1-1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/jar/product1-2.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Scented Jar Candle 1</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">139,000 VND</span>
                                            <span class="current_price">99,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/jar/product2-1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/jar/product2-2.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Scented Jar Candle 2</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">119,000 VND</span>
                                            <span class="current_price">89,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/shell/shell1-1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/shell/shell1-2.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Scented Shell Candle 1</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">159,000 VND</span>
                                            <span class="current_price">119,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/shell/shell2-1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/shell/shell2-2.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Scented Shell Candle 2</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">179,000 VND</span>
                                            <span class="current_price">129,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/custom/custom1-1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/custom/custom1-2.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Custom Scented Candle 1</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">139,000 VND</span>
                                            <span class="current_price">99,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/custom/custom2-2.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/custom/custom2-1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Custom Scented Candle 2</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">159,000 VND</span>
                                            <span class="current_price">119,000 VND</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Women" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/logo.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/logo.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Dolce & Gabbana Women The Only</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 9500</span>
                                            <span class="current_price">Rs. 9000</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Michael Kors Women Sexy Amber</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 9000</span>
                                            <span class="current_price">Rs. 8800</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Bvlgari Splendid Jasmin Noir</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 8650</span>
                                            <span class="current_price">Rs. 8250</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Versace Pour Femme Dylan Blue</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 8875</span>
                                            <span class="current_price">Rs. 7987</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Carolina Herrera Women Good Girl</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 8705</span>
                                            <span class="current_price">Rs. 7400</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Jean Paul Gaultier Women Scandal</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 7514</span>
                                            <span class="current_price">Rs. 6900</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Custom" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Ajmal Unisex Oudesiere Oriental</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 17500</span>
                                            <span class="current_price">Rs. 8255</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">LOccitane en Provance</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 4900</span>
                                            <span class="current_price">Rs. 4400</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Ajmal Unisex Perfume</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 5600</span>
                                            <span class="current_price">Rs. 3808</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Calvin Klein Unisex One Summer</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 3500</span>
                                            <span class="current_price">Rs. 3808</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">The Body Shop Black Musk</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 3150</span>
                                            <span class="current_price">Rs. 2295</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="#" class="primary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="images/products/product1.png" alt="">
                                        </a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart">
                                                    <a href="#" title="Add to Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li class="wishlist">
                                                    <a href="#" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="Add to Compare">
                                                        <i class="fa fa-random"></i>
                                                    </a>
                                                </li>
                                                <li class="quick_button">
                                                    <a href="#" data-toggle="modal" data-target="#modal_box"
                                                       title="Quick View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name">
                                            <a href="#">Lattafa unisex Mahir EDP</a>
                                        </h4>

                                        <div class="price_box">
                                            <span class="old_price">Rs. 2000</span>
                                            <span class="current_price">Rs. 1799</span>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>

                            </article>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
