<section class="slider_section slider_section2 mb-66" id="slider">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="images/slider/slider1.png">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                        <div class="slider_content slider_content2 content_right">
                            <h1>Candles's Collection</h1>
                            <h2>Aromatic Haven</h2>
                            <p>The rich aromatic notes of rosemary and neroli, combined with the sophistication of tonka beans and white woods, create the perfect scent for enhancing your space and elevating your mood.</p>
                            <a href="#" class="button">Shop Now <i class="fa fa-arrow-right no-border"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="images/slider/slider2.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_content slider_content2 content_left">
                            <h1>Enjoy your life</h1>
                            <h2>Illuminate the Space - Soothe the Soul</h2>
                            <p>This scented candle is a delightful blend, enhancing the rich aroma of gourmet Bourbon vanilla and the refined essence of tuberose and jasmine. The harmonious fusion evokes a sense of tropical paradise, bringing warmth and serenity to any space.</p>
                            <a href="#" class="button">Shop Now <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
