@page
@model Serein.Pages.Views.Account.ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Serein</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>
    <div class="wrapper">
        <form method="post">
            <h1>Forgot Password</h1>
            <div class="input-box">
                <input type="email" asp-for="Input.Email" placeholder="Email" required />
                <i class='bx bx-envelope'></i>
            </div>
            <button type="submit" class="btn">Send Reset Link</button>
            <div class="register-link">
                <p>GO BACK TO LOGIN? <a asp-page="/Views/Account/Login">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>

