@page
@model Sereni.Pages.Views.Account.ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Sereni</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>
    <div class="wrapper">
        <form method="post">
            <input type="hidden" asp-for="Token" />
            <h2 style="text-align:center">Reset Password</h2>
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" style="text-align:center" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <div class="input-box @(ModelState["Input.NewPassword"]?.Errors.Count > 0 ? "has-error" : "")">
                <input type="password" asp-for="Input.NewPassword" placeholder="New Password" required />
                <i class="bx bxs-lock-alt"></i>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
                <div class="input-box @(ModelState["Input.ConfirmPassword"]?.Errors.Count > 0 ? "has-error" : "")">
                    <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" required />
                    <i class="bx bxs-lock-alt"></i>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div><br />
            <button type="submit" class="btn">Reset Password</button>
            <div class="register-link">
                <p>Back to login? <a asp-page="/Views/Account/Login">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>

<script src="~/js/main.js"></script>