@page
@model IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sereni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    @await Html.PartialAsync("Partials/_Canvars")

    @await Html.PartialAsync("Partials/_Header")

    @await Html.PartialAsync("Partials/_Slider")

    @await Html.PartialAsync("Partials/_Product")

    @await Html.PartialAsync("Partials/_Giftbox")

    @await Html.PartialAsync("Partials/_Banner")

    @await Html.PartialAsync("Partials/_AboutUs")

    @await Html.PartialAsync("Partials/_BestSeller")

    @await Html.PartialAsync("Partials/_Feedback")

    @await Html.PartialAsync("Partials/_Blog")

    @await Html.PartialAsync("Partials/_Workshop")

    @await Html.PartialAsync("Partials/_Footer")

    @await Html.PartialAsync("Partials/_QuickView")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>

